.cart-item{
    display:grid;
    grid-template-columns: 3fr 6fr 1fr;
    padding:5% 2%;
    border-bottom:solid 1px lightgray;  
  }
  
  .cart-item img{
      width:100%;
  }
  .cart-item .details{
      padding-left:10%;
  }
  
  .cart-item h3{
    text-align: left; 
    margin-bottom:5%; 
  }
  
  .cart-item .price{
  display: block;
  text-align: right;
  margin-top: 35%; 
    }

    